html,
:root {
    background-color: #272a2b;
}


body{
	color: #860048;
	color: #960051;
	color: #5d0d6f;

	color: ;
	background-color: #ddda27;
/*
	color: #bdbd9b;
	background-color: #23231b;
*/
	color: black;
	background-color: #d0cc25;

	background-color: #a7d819;
	background-color: #b2d01a;

	color: #2d2d2d;
	color: #272a2b;
	background-color: #b9d819;

	padding-top: 3.75rem;
}

.test-block {
	color: #b9d819;
	background-color: #272a2b;
	min-height: 2000px;
}

code {
	/* background-color: #cfe84a; */
}

script[type="text"] {
	white-space: pre;
	border-width: 0;
	padding: 0;
	line-height: inherit;
	tab-size: 2;
	margin-left: -4.875rem;
	margin-top: -1.5rem;
	margin-bottom: -1.5rem;
	background-color: transparent;
}

line { stroke-width: 1; stroke: inherit; }

.text-5 + pre {
	margin-top: 0.9375rem;
}

pre > code {
	margin-top: 0;
}

pre + pre {
	margin-top: 1px;
}
