[submodule "modules/collection"]
	path = modules/collection
	url = https://github.com/cruncher/collection.git
[submodule "modules/object.assign"]
	path = modules/object.assign
	url = https://github.com/cruncher/object.assign.git
[submodule "modules/window.breakpoint"]
	path = modules/window.breakpoint
	url = https://github.com/stephband/window.breakpoint.git
[submodule "modules/fn"]
	path = modules/fn
	url = https://github.com/cruncher/Fn.git
