[submodule "modules/collection"]
	path = modules/collection
	url = https://github.com/cruncher/collection.git
[submodule "modules/object.assign"]
	path = modules/object.assign
	url = https://github.com/cruncher/object.assign.git
