@font-face{
    font-family: 'Fira Mono';
    src: url('Fira-Mono-EOT/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('Fira-Mono-EOT/FiraMono-Regular.eot') format('embedded-opentype'),
         url('Fira-Mono-WOFF/FiraMono-Regular.woff') format('woff'),
         url('ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('Fira-Mono-EOT/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
         url('Fira-Mono-EOT/FiraMono-Bold.eot') format('embedded-opentype'),
         url('Fira-Mono-WOFF/FiraMono-Bold.woff') format('woff'),
         url('ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}